@import "../../variables";

.subcontainer {
  padding-left: 2rem;
  padding-right: 2rem;
}

.inputFieldContainer {
  display: flex;
}

.formInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.formInput:after {
  background: none repeat scroll 0 0 $main;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  position: relative;
  width: 100%;
  border-radius: 100px;
  margin-bottom: 15px;
  opacity: 60%;
}

.inputField {
  background-color: transparent;
  width: 100%;
}

.inputIconAccent {
  color: $accent;
  opacity: 60%;
}

.seperatorLine {
  border-left: 2px solid $main;
  height: 25px;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 60%;
}

.bottomPart {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.buttonBottom {
  margin-bottom: 10px;
}
