//TODO Copy from App.scss
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  float: right;
  border-radius: 5rem;
}

.homepageheader {
  display: flex;
  margin-bottom: 1rem;
  &__pagedescription {
    font-weight: bold;
    margin-left: 1rem;
  }
}
