//DEFAULT COLORS
$background: #f6ebff;
$main: #7d3ab1;
$accent: #3a7fb1;
$text: #333333;
$divider: rgba(248, 248, 248, 0.5);
$error: #ff0000;
$success: #00ff00;
$disabled: #cccccc;
$placeholder: #999999;
